{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Mis Documentos</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre del Archivo</th>
                    <th scope="col">Fecha de Subida</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documentos %}
                <tr>
                    <td>{{ doc.filename }}</td>
                    <td>{{ doc.upload_date }}</td>
                    <td><a href="{{ url_for('uploaded_file', filename=doc.filename) }}" class="btn btn-primary">Descargar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
